# Ignore everything by default
**/*

# Explicitly include necessary folders and files
!out/shared
!out/src/managers
!out/src/panels
!out/src/saved_data
!out/src/services
!out/src/utilities
!out/src/extension.js*

!resources/
!webview-ui/public/

!package.json
!package-lock.json
!README.md
!CHANGELOG.md
!LICENSE
