# Ignore everything by default
**/*

# Explicitly include only the necessary folders
!out/
!resources/
!webview-ui/public/

# Exclude specific subdirectory
out/src/test/
saved_data/*

# Always keep required extension files
!package.json
!package-lock.json
!README.md
!CHANGELOG.md
!LICENSE
